#_hh_extended_family_ {
    width: 98%;
    padding: 10px 10px;
}

#_hh_extended_family_ h2 {
    font-size: 30px;
    margin: 10px 20px;
    padding: 15px 0 0;
}

#_hh_extended_family_ h3 {
    font-size: 16px;
    margin: 10px 20px;
}

#_hh_extended_family_ h4 {
    font-size: 14px;
    font-weight: 900;
    margin: 0 0 5px;
    padding: 5px 0;
    text-align: center;
}

#_hh_extended_family_ h5 {
    font-size: 12px;
    margin: 0;
    clear: both;
    padding: 10px 0 2px 0;
}

#hh_extended_family_summary {
}

#hh_extended_family_content_compact {
    border-spacing: 10px;
    display: inline-table;
    margin: 0 10px;
    overflow: hidden;
    padding: 0;
    width: 98%;
}

#hh_extended_family_content_compact .wt-chart-box-m,
#hh_extended_family_content_compact .wt-chart-box-f,
#hh_extended_family_content_compact .wt-chart-box-u {
    display: flex;
    align-items: center;
    align-items: baseline;
    clear: left;
    float: left;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2px 0;
    width: 99%;
}

#hh_extended_family_content {
    border-spacing: 10px;
    display: inline-table;
    margin: 0 10px;
    overflow: hidden;
    padding: 0;
    width: 98%;
}

#hh_extended_family_content .wt-chart-box-m,
#hh_extended_family_content .wt-chart-box-f,
#hh_extended_family_content .wt-chart-box-u {
    align-items: baseline;
    clear: left;
    float: left;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2px 0;
    width: 99%;
}

#hh_extended_family_box {
    border: 1px solid grey;
    border-radius: 5px;
    display: table-cell;
    padding: 5px 5px 5px 10px;
    width: 31%;
}

/* Mobile low resolution viewport */
@media (max-width: 600px) {
    #hh_extended_family_box {
        border: 1px solid grey;
        border-radius: 5px;
        display: table-caption;
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
    }
}

.hh_extended_family_name {}

.hh_extended_family_birth_death {
    font-size: 12px;
    margin: 0;
    padding: 2px 0;
}

.hh_extended_family_lifespan {
    font-size: 10px;
    padding: 3px 5px 0px 5px;
}

.hh_extended_family_counter {
    margin: 0 3px;
    font-size: 75%;
}

.hh_extended_family_counter:after {
    content: ". ";
}

.hh_extended_family_parameter {
    clear: right;
    float: right;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
    margin: 4px 2% 0px;
    font-size: 12px;
    font-weight: bold;
    background-color: lightgrey;
    color: royalblue;
}

.hh_extended_family_label {
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
    margin: 8px 20px 0px 20px;
    font-size: 12px;
    font-weight: bold;
    background-color: lightgrey;
    color: green;
}
.hh_extended_family_label_box {
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
    margin: 4px 20px 0px 2px;
    font-size: 12px;
    font-weight: bold;
    background-color: lightgrey;
    color: green;
}

#hh_extended_family_content .wt-chart-box-m .hh_extended_family_label,
#hh_extended_family_content .wt-chart-box-f .hh_extended_family_label,
#hh_extended_family_content .wt-chart-box-u .hh_extended_family_label,
#hh_extended_family_content_compact .wt-chart-box-m .hh_extended_family_label,
#hh_extended_family_content_compact .wt-chart-box-f .hh_extended_family_label,
#hh_extended_family_content_compact .wt-chart-box-u .hh_extended_family_label {
    font-size: 10px;
    padding: 1px 5px 1px 5px;
    margin: 0px 0px 0px 0px;
}

.comment {
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
    margin: 0px 10px;
    text-align: center;
    font-size: 14px;
    background-color: lightgrey;
    color: red;    
}
