#_hh_extended_family_ {
    width: 98%;
    padding: 10px 10px;
}

#_hh_extended_family_ h2 {
    font-size: 30px;
    margin: 10px 20px;
    padding: 15px 0 0;
}

#_hh_extended_family_ h3 {
    font-size: 16px;
    margin: 10px 20px;
}

#_hh_extended_family_ h4 {
    font-size: 14px;
    font-weight: 900;
    margin: 0 0 5px;
    padding: 5px 0;
    text-align: center;
}

#_hh_extended_family_ h5 {
    font-size: 12px;
    margin: 0;
    clear: both;
    padding: 10px 0 2px 0;
}

#hh-extended-family-ancestors,
#hh-extended-family-descendants,
#hh_extended_family_summary {}

#hh_extended_family_content {
    border-spacing: 10px;
    display: inline-table;
    margin: 0 10px;
    overflow: hidden;
    padding: 0;
    width: 98%;
}

#hh_extended_family_content .wt-chart-box-m,
#hh_extended_family_content .wt-chart-box-f,
#hh_extended_family_content .wt-chart-box-u {
    clear: left;
    float: left;
    margin: 1px 0;
    width: 99%;
}

#hh_extended_family_f,
#hh_extended_family_m,
#hh_extended_family_fm,
#hh_extended_family_g {
    border: 1px solid grey;
    border-radius: 5px;
    display: table-cell;
    padding: 5px 5px 5px 10px;
    width: 31%;
}

#hh_extended_family_birth_death {
    font-size: 12px;
    margin: 0;
    padding: 2px 0;
}

/* Mobile low resolution viewport */
@media (max-width: 600px) {
    #hh_extended_family_f,
    #hh_extended_family_m,
    #hh_extended_family_fm,
    #hh_extended_family_g {
        border: 1px solid grey;
        border-radius: 5px;
        display: table-caption;
        padding: 10px;
        width: 90%;
        margin-bottom: 10px;
    }
}

.hh_extended_family_name {}

.hh_extended_family_lifespan,
.hh_extended_family_pedi {
    font-size: 9px;
    padding: 3px 5px 5px 5px;
}

.hh_extended_family_counter {
    margin: 0 3px;
    font-size: 75%;
}

.hh_extended_family_counter:after {
    content: ". ";
}
